@theme {
  --color-dark-50: oklch(55% 0.01 286);
  --color-dark-100: oklch(50% 0.01 286);
  --color-dark-200: oklch(45% 0.01 286);
  --color-dark-300: oklch(40% 0.01 286);
  --color-dark-400: oklch(36% 0.01 286);
  --color-dark-500: oklch(30% 0.01 286);
  --color-dark-600: oklch(25% 0.01 286);
  --color-dark-700: oklch(20% 0.01 286);
  --color-dark-800: oklch(15% 0.01 286);
  --color-dark-900: oklch(10% 0.01 286);

  --color-light-50: oklch(100% 0 0);
  --color-light-100: oklch(97% 0.001 286);
  --color-light-200: oklch(94% 0.001 286);
  --color-light-300: oklch(91% 0.001 286);
  --color-light-400: oklch(88% 0.001 286);
  --color-light-500: oklch(85% 0.001 286);
  --color-light-600: oklch(82% 0.001 286);
  --color-light-700: oklch(79% 0.001 286);
  --color-light-800: oklch(76% 0.001 286);
  --color-light-900: oklch(73% 0.001 286);

  --color-primary-light-100: oklch(94% 0.05 286);
  --color-primary-light-200: oklch(91% 0.06 286);
  --color-primary-light-300: oklch(88% 0.07 286);
  --color-primary-light-400: oklch(85% 0.08 286);
  --color-primary-light-500: oklch(82% 0.09 286);
  --color-primary-light-600: oklch(79% 0.1 286);
  --color-primary-light-700: oklch(76% 0.11 286);
  --color-primary-light-800: oklch(73% 0.12 286);
  --color-primary-light-900: oklch(70% 0.13 286);

  --color-primary-dark-100: oklch(70% 0.16 286);
  --color-primary-dark-200: oklch(65% 0.15 286);
  --color-primary-dark-300: oklch(60% 0.14 286);
  --color-primary-dark-400: oklch(55% 0.13 286);
  --color-primary-dark-500: oklch(50% 0.12 286);
  --color-primary-dark-600: oklch(45% 0.11 286);
  --color-primary-dark-700: oklch(40% 0.1 286);
  --color-primary-dark-800: oklch(35% 0.09 286);
  --color-primary-dark-900: oklch(30% 0.08 286);

  --color-primary: var(--color-primary-light-800);
  --color-text: var(--color-zinc-700);
  --color-border: color-mix(in oklch, var(--color-dark-900) 10%, transparent);
  --color-input-border: color-mix(in oklch, var(--color-dark-900) 30%, transparent);
  --color-shadow: color-mix(in oklch, var(--color-dark-900) 30%, transparent);

  --breakpoint-xs: 480px;
  --breakpoint-2xs: 360px;

  --spacing-headerHeight: 60px;

  --default-transition-duration: 0.3s;
  --default-transition-timing-function: ease;
}

@layer theme {
  .dark {
    --color-primary: var(--color-primary-dark-300);
    --color-text: var(--color-zinc-200);
    --color-border: color-mix(in srgb, var(--color-light-100) 10%, transparent);
    --color-input-border: color-mix(in srgb, var(--color-light-100) 20%, transparent);
    --color-shadow: color-mix(in oklch, var(--color-dark-900) 50%, transparent);
  }
}
