@theme {
  --color-dark-100: #67656c;
  --color-dark-150: #4f4d53;
  --color-dark-200: #45434a;
  --color-dark-300: #333238;
  --color-dark-500: #26282e;
  --color-dark-600: #202026;
  --color-dark-700: #1d1e24;
  --color-dark-800: #16131b;

  --color-primary-light-100: #efe8ff;
  --color-primary-light-200: #e7ddff;
  --color-primary-light-300: #e0d2ff;
  --color-primary-light-400: #d8c7ff;
  --color-primary-light-500: #d1bcff;
  --color-primary-light-600: #c9b0ff;
  --color-primary-light-700: #c1a5ff;
  --color-primary-light-800: #ba9aff;
  --color-primary-light-900: #b28fff;

  /*--color-primary-100: #efe8ff;*/
  /*--color-primary-200: #d9c7ff;*/
  /*--color-primary-300: #c3a6ff;*/
  /*--color-primary-400: #ad85ff;*/
  /*--color-primary-500: #9a75ff;*/
  /*--color-primary-600: #865fe6;*/
  /*--color-primary-700: #724acc;*/
  /*--color-primary-800: #5e34b3;*/
  /*--color-primary-900: #4a1f99;*/

  --color-primary-dark-100: #a178ff;
  --color-primary-dark-200: #906de7;
  --color-primary-dark-300: #7f62d0;
  --color-primary-dark-400: #6d57b8;
  --color-primary-dark-500: #5c4ca0;
  --color-primary-dark-600: #4b4088;
  --color-primary-dark-700: #3a3571;
  --color-primary-dark-800: #282a59;
  --color-primary-dark-900: #171f41;

  --color-primary: var(--color-primary-dark-100);
  --color-text: var(--color-zinc-700);
  --color-border: rgba(0, 0, 0, 0.1);
  --color-input-border: rgba(0, 0, 0, 0.2);
  --color-shadow: rgba(0, 0, 0, 0.3);

  --breakpoint-xs: 480px;
  --breakpoint-2xs: 360px;

  --spacing-headerHeight: 60px;

  --default-transition-duration: 0.3s;
  --default-transition-timing-function: ease;
}

@layer theme {
  .dark {
    --color-primary: var(--color-primary-dark-600);
    --color-text: var(--color-zinc-200);
    --color-border: rgba(255, 255, 255, 0.1);
    --color-input-border: rgba(255, 255, 255, 0.2);
    --color-shadow: rgba(0, 0, 0, 0.6);
  }
}
