@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  dialog {
    margin: auto;
  }

  body {
    min-height: 100dvh;
    max-width: 100dvw;
    min-width: 360px;
  }

  ul {
    list-style: none;
  }
}

